{% extends 'base.html' %}
<!-- Shows pet info and form to edit information -->
{% block title %}
<div class="mx-auto" style="width: 400px;">
    <p class="text-center">
        <h1 class="display-1 text-center">Adopt a Pet!</h1>
    </p>
</div>
{% endblock %}

{% block content %}

<div class="container">
 
    
    <h1 class="display-3 text-center">{{ pet.name }}</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">

            <!-- Display the specific pet from table -->
<table class="table table-dark">
<tbody>
  <tr>
    <td><a href="/{{pet.id}}/edit">{{pet.name}}</a></td>
    <td>{{pet.species}}</td>
    <td><img src="{{pet.image_url}}"></td>
    <td>{% if pet.notes %} {{pet.notes}}{% endif %} </td>
   <td> {{ "available" if pet.available else "unavailable" }} </td>
  </tr>
</tbody>
</table>

<!-- Edit form for pet's details -->
<div class=container>
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="display-6 text-center">Edit info for {{ pet.name }}</h1>
    <form  method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group ">
            {{field.label}}
            {{field}}
            {% if field.errors %}
            {% for err in field.errors %}
            <small class="form-text text-danger">
                {{err}}
            </small>
            {% endfor %}
            {% endif %}

        </div>
        {% endfor %}
        <button class="btn btn-success btn-lg">Save</button>
        </form>
        </div>
        </div>
        </div>
    </div>
 </div>
</div>
    

{% endblock %}